@use "../common/variables.scss" as *;
@use "../common/mixins.scss" as *;

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1285px;
  margin: $center-position;
  padding: 22px 0px;

  color: $color-white;

  @media (max-width: 768px) {
    display: none;
  }
}

.main-header__button {
  width: 216px;
  height: 46px;
  border: 2px solid $color-white;
  border-radius: 5px;

  font-family: $font-heading;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-white;


  @include button-opacity-states(0.7, 1, 0.3);
}

.social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 5px;
}

.social-list__link {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;

  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;

    width: 53px;
    height: 53px;

    background-image: url("../../images/icons/social-rectangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
  }

  @include button-opacity-states(0.7, 1, 0.3);
}
