@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin button-bg-states($hover-bg, $focus-bg, $active-bg) {
  &:hover {
    background-color: $hover-bg;
  }

  &:focus {
    background-color: $focus-bg;
  }

  &:active {
    background-color: $active-bg;
  }
}

@mixin button-opacity-states($hover-opacity, $focus-opacity, $active-opacity) {
  &:hover {
    opacity: $hover-opacity;
  }

  &:focus {
    opacity: $focus-opacity;
  }

  &:active {
    opacity: $active-opacity;
  }
}
