@use "common/variables";
@use "common/mixins";
@use "common/fonts";
@use "common/globals";
@use "common/buttons";

@use "blocks/page";
@use "blocks/header";
@use "blocks/hero";
@use "blocks/advantages";
@use "blocks/app-menu";
@use "blocks/promotions";
@use "blocks/partners";
@use "blocks/footer";
